@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 54, 54, 54;
  --background-end-rgb: 54, 54, 54;
}

body {
  padding: 2rem;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
